thead, th {
    font-weight: bold;
    background-color: #7ac9ee;
    position: -webkit-sticky; 
    position: sticky;
    top: 0;
    padding: 0 0 0 10px;
    }
   
th {
    position: sticky;
    white-space:nowrap;
    
}
td:nth-child(even) {
    text-align: center;
    background-color: rgb(233, 233, 233);
}

tbody,tr:nth-child(odd) {
    background-color: rgb(245, 245, 245);
    text-align: center;
}


table {
    display: block;
    height: 230px;
    width: 200px; 
    overflow: scroll;
} 

col {
    position: sticky;
    left: 0;
}
   
   